
<%-include('includes/left-side_bar')%>
<!-- Fixed Sidebar Right -->

<%-include('includes/right-side_bar')%>

<!-- Header-BP -->
<%-include('includes/header')%>


<!-- ... end Responsive Header-BP -->
<div class="header-spacer header-spacer-small"></div>



<div class="main-header-post">
	<img src="/img/post-header.jpg" alt="author">
</div>


<div class="container negative-margin-top150">
	<div class="col col-xl-8 m-auto col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="ui-block">

			
			<!-- Single Post -->
			
			<article class="hentry blog-post single-post single-post-v1">
			
				<div class="control-block-button post-control-button">
					<a href="#" class="btn btn-control has-i bg-facebook">
						<i class="fab fa-facebook-f" aria-hidden="true"></i>
					</a>
			
					<a href="#" class="btn btn-control has-i bg-twitter">
						<i class="fab fa-twitter" aria-hidden="true"></i>
					</a>
				</div>
			
				<a href="#" class="post-category bg-primary">OLYMPUS NEWS</a>
				<h1 class="post-title">Olympus Network added new photo filters!</h1>
			
				<div class="author-date">
					<div class="author-thumb">
						<img alt="author" src="/img/friend-harmonic7.jpg" class="avatar">
					</div>
					by
					<a class="h6 post__author-name fn" href="#">JACK SCORPIO</a>
					<div class="post__date">
						<time class="published" datetime="2017-03-24T18:18">
							-  12 hours ago
						</time>
					</div>
				</div>
			
			
				<div class="post-content-wrap">
					<ul class="filter-icons">
						<li>
							<a href="#" class="post-add-icon inline-items">
								<svg class="olymp-speech-balloon-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
								<span>0</span>
							</a>
						</li>
						<li>
							<a href="#" class="post-add-icon inline-items">
								<img src="/img/icon-chat1.png" alt="icon">
								<span>58</span>
							</a>
						</li>
						<li>
							<a href="#" class="post-add-icon inline-items">
								<img src="/img/icon-chat26.png" alt="icon">
								<span>21</span>
							</a>
						</li>
						<li>
							<a href="#" class="post-add-icon inline-items">
								<img src="/img/icon-chat15.png" alt="icon">
								<span>3</span>
							</a>
						</li>
					</ul>
			
					<div class="post-content">
						<h5>Lorem ipsum dolor sit amet, consectadipisicing elit, sed do eiusmod por incidid ut labore et dolore
							magna aliqua. Ut enim ad minim veniam, quis nostrud lorem exercitation ullamco laboris.
						</h5>
			
						<p><%-post.body%>
						</p>
			
						<h3>The Users Reactions</h3>
			
						<p><%=post.body%>
						</p>
			
						<blockquote>
							<p>“I’m really loving the new photo filters! I feel like a professional photographer!”</p>
							<h6><span>Katherine Lothbrok</span>
								Olympus User</h6>
						</blockquote>
			
						<p>Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud tation ullamco laboris
							nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
							velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
							sunt in culpa qui officia unt mollit anim id est laborum aperiam, eaque ipsa quae ab illo
							inventore veritatis  quasi architecto.
						</p>
					</div>
				</div>
			
			
				<div class="choose-reaction">
					<div class="title">Choose your <span>Reaction!</span></div>
			
					<ul>
						<li>
							<a href="#">
								<img src="/img/icon-chat13.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="LOL">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat15.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="Amazed">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat9.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="ANGER">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat4.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="joy">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat6.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="BAD">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat26.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="LIKE">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat27.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="COOL">
							</a>
						</li>
					</ul>
			
				</div>
			</article>
			
			<!-- ... end Single Post -->

			
			<!-- Comments -->
			
			<ul class="comments-list">
				<li class="comment-item">
					<div class="post__author author vcard inline-items">
						<img src="/img/author-page.jpg" alt="author">
			
						<div class="author-date">
							<a class="h6 post__author-name fn" href="02-ProfilePage.html">James Spiegel</a>
							<div class="post__date">
								<time class="published" datetime="2004-07-24T18:18">
									38 mins ago
								</time>
							</div>
						</div>
			
						<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
			
					</div>
			
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>
			
					<a href="#" class="post-add-icon inline-items">
						<svg class="olymp-heart-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
						<span>3</span>
					</a>
					<a href="#" class="reply">Reply</a>
				</li>
				<li class="comment-item">
					<div class="post__author author vcard inline-items">
						<img src="/img/avatar1-sm.jpg" alt="author">
			
						<div class="author-date">
							<a class="h6 post__author-name fn" href="#">Mathilda Brinker</a>
							<div class="post__date">
								<time class="published" datetime="2004-07-24T18:18">
									1 hour ago
								</time>
							</div>
						</div>
			
						<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
			
					</div>
			
					<p>Ratione voluptatem sequi en lod nesciunt. Neque porro quisquam est, quinder dolorem ipsum
						quia dolor sit amet, consectetur adipisci velit en lorem ipsum duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
					</p>
			
					<a href="#" class="post-add-icon inline-items">
						<svg class="olymp-heart-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
						<span>8</span>
					</a>
					<a href="#" class="reply">Reply</a>
				</li>
			</ul>
			
			<!-- ... end Comments -->

			<a href="#" class="more-comments">View more comments <span>+</span></a>

			
			<!-- Comment Form  -->
			
			<form class="comment-form inline-items">
			
				<div class="post__author author vcard inline-items">
					<img src="/img/author-page.jpg" alt="author">
			
					<div class="form-group with-icon-right ">
						<textarea class="form-control" placeholder=""></textarea>
						<div class="add-options-message">
							<a href="#" class="options-message" data-toggle="modal" data-target="#update-header-photo">
								<svg class="olymp-camera-icon">
									<use xlink:href="/svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
								</svg>
							</a>
						</div>
					</div>
				</div>
			
				<button class="btn btn-md-2 btn-primary">Post Comment</button>
			
				<button class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">Cancel</button>
			
			</form>
			
			<!-- ... end Comment Form  -->
		</div>
	</div>
</div>




<!-- Window-popup-CHAT for responsive min-width: 768px -->

<div class="ui-block popup-chat popup-chat-responsive" tabindex="-1" role="dialog" aria-labelledby="popup-chat-responsive" aria-hidden="true">

	<div class="modal-content">
		<div class="modal-header">
			<span class="icon-status online"></span>
			<h6 class="title" >Chat</h6>
			<div class="more">
				<svg class="olymp-three-dots-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
				<svg class="olymp-little-delete js-chat-open"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
			</div>
		</div>
		<div class="modal-body">
			<div class="mCustomScrollbar">
				<ul class="notification-list chat-message chat-message-field">
					<li>
						<div class="author-thumb">
							<img src="/img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
						</div>
						<div class="notification-event">
							<span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
							<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
						</div>
					</li>

					<li>
						<div class="author-thumb">
							<img src="/img/author-page.jpg" alt="author" class="mCS_img_loaded">
						</div>
						<div class="notification-event">
							<span class="chat-message-item">Don’t worry Mathilda!</span>
							<span class="chat-message-item">I already bought everything</span>
							<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:29pm</time></span>
						</div>
					</li>

					<li>
						<div class="author-thumb">
							<img src="/img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
						</div>
						<div class="notification-event">
							<span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
							<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
						</div>
					</li>
				</ul>
			</div>

			<form class="need-validation">

		<div class="form-group label-floating is-empty">
			<label class="control-label">Press enter to post...</label>
			<textarea class="form-control" placeholder=""></textarea>
			<div class="add-options-message">
				<a href="#" class="options-message">
					<svg class="olymp-computer-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>
				</a>
				<div class="options-message smile-block">

					<svg class="olymp-happy-sticker-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-sticker-icon"></use></svg>

					<ul class="more-dropdown more-with-triangle triangle-bottom-right">
						<li>
							<a href="#">
								<img src="/img/icon-chat1.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat2.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat3.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat4.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat5.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat6.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat7.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat8.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat9.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat10.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat11.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat12.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat13.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat14.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat15.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat16.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat17.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat18.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat19.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat20.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat21.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat22.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat23.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat24.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat25.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat26.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/icon-chat27.png" alt="icon">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</form>
		</div>
	</div>

</div>

<!-- ... end Window-popup-CHAT for responsive min-width: 768px -->



<a class="back-to-top" href="#">
	<img src="/svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
</a>


<%-include('includes/footer')%>
